In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

C:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.3)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [2]:
data=pd.read_csv("C:\\Users\\Asus\\Downloads\\traffic.csv")

In [3]:
data.head()

,event,date,country,city,artist,album,track,isrc,linkid
0,click,2021-08-21,Saudi Arabia,Jeddah,Tesher,Jalebi Baby,Jalebi Baby,QZNWQ2070741,2d896d31-97b6-4869-967b-1c5fb9cd4bb8
1,click,2021-08-21,Saudi Arabia,Jeddah,Tesher,Jalebi Baby,Jalebi Baby,QZNWQ2070741,2d896d31-97b6-4869-967b-1c5fb9cd4bb8
2,click,2021-08-21,India,Ludhiana,Reyanna Maria,So Pretty,So Pretty,USUM72100871,23199824-9cf5-4b98-942a-34965c3b0cc2
3,click,2021-08-21,France,Unknown,"Simone & Simaria, Sebastian Yatra",No Llores Más,No Llores Más,BRUM72003904,35573248-4e49-47c7-af80-08a960fa74cd
4,click,2021-08-21,Maldives,Malé,Tesher,Jalebi Baby,Jalebi Baby,QZNWQ2070741,2d896d31-97b6-4869-967b-1c5fb9cd4bb8

# Event which are pageview

In [4]:
# Filter the rows where 'event' column contains 'pageview'
pageview_events = data[data['event'] == 'pageview']
pageview_events

,event,date,country,city,artist,album,track,isrc,linkid
84043,pageview,2021-08-19,Saudi Arabia,Riyadh,Tesher,Jalebi Baby,Jalebi Baby,QZNWQ2070741,2d896d31-97b6-4869-967b-1c5fb9cd4bb8
84044,pageview,2021-08-19,United States,Absecon,KA$HDAMI,epiphany,Reparations!,QZFYY2115255,9c61dba1-9369-4ee4-a215-1d34581cd811
84045,pageview,2021-08-19,Saudi Arabia,Riyadh,Tesher,Jalebi Baby,Jalebi Baby,QZNWQ2070741,2d896d31-97b6-4869-967b-1c5fb9cd4bb8
84046,pageview,2021-08-19,Ireland,Mullingar,Cardi B,Up,Up,USAT22100061,9d847c0e-6824-438f-9dc1-d76fca6dc87c
84047,pageview,2021-08-19,United Kingdom,Northampton,"Kayla Nicole, Taylor Girlz, Flo Milli","Bundles 2 (feat. Flo Milli, Taylor Girlz)","Bundles 2 (feat. Flo Milli, Taylor Girlz)",QMCE32100359,fbf4b935-f961-4b13-b1d8-45ad47093559
...,...,...,...,...,...,...,...,...,...
226273,pageview,2021-08-24,Kuwait,Kuwait City,Sean Paul,The Trinity,Temperature,USAT20505520,04ba6b17-1055-4f0e-a75e-3cdb0d0d4106
226274,pageview,2021-08-24,India,Chennai,Miscél,when you left,when you left,QM42K1907890,2fc15e8b-83aa-40ee-9f9d-5d96c6d4356c
226275,pageview,2021-08-24,India,Jaipur,"Trippie Redd, Lil Uzi Vert",Holy Smokes (feat. Lil Uzi Vert),Holy Smokes,QZJ842001118,eedc8702-6bd2-499a-972f-260c35f72e0f
226276,pageview,2021-08-24,France,Unknown,Young Thug,Tick Tock,Tick Tock,USAT22104514,e0a76dc3-7ccd-405f-8ee8-a2c55c0e0ed2
226277,pageview,2021-08-24,Iraq,Duhok,Tesher,Jalebi Baby,Jalebi Baby,QZNWQ2070741,2d896d31-97b6-4869-967b-1c5fb9cd4bb8

### **Total pageview event**

In [5]:
# Calculate the total number of pageview events
total_pageviews = len(pageview_events)

In [6]:
print("Total number of pageview events are : ",total_pageviews)

Total number of pageview events are :  142015

### **Daily Pageview Events**

In [7]:

data['date']

0         2021-08-21
1         2021-08-21
2         2021-08-21
3         2021-08-21
4         2021-08-21
             ...
226273    2021-08-24
226274    2021-08-24
226275    2021-08-24
226276    2021-08-24
226277    2021-08-24
Name: date, Length: 226278, dtype: object

In [7]:
# Find the unique dates and calculate the number of days
total_days = data['date'].nunique()

In [8]:
print(f"Total unique days: {total_days}")

Total unique days: 7

In [9]:
# Calculate the average number of pageviews per day
average_pageviews_per_day = total_pageviews / total_days if total_days > 0 else 0

In [10]:
print(f"Average Pageviews Per Day: {average_pageviews_per_day:.2f}")

Average Pageviews Per Day: 20287.86

### **Analysis of Other Events**

In [11]:
# unique events are
data['event'].unique()

array(['click', 'preview', 'pageview'], dtype=object)

In [12]:
# Count the total number of events that are not 'pageview'
non_pageview_events = data[data['event'] != 'pageview']

In [13]:
# Get the count of each type of event
event_distribution = non_pageview_events['event'].value_counts()

In [14]:
# Calculate the total number of non-pageview events
total_non_pageview_events = len(non_pageview_events)

In [15]:
# Output the results
print(f"Total Non-Pageview Events: {total_non_pageview_events}")
print(f"Distribution of Other Events:\n{event_distribution}")

Total Non-Pageview Events: 84263
Distribution of Other Events:
click      55732
preview    28531
Name: event, dtype: int64

### **Geographical Distribution:**

#### **countries contributed to the pageviews** ####

In [16]:
# Extract unique countries from 'pageview' events
countries_contributing_to_pageviews = pageview_events['country'].unique()

In [17]:
# Output the countries
print("Countries contributing to pageviews:")
for country in countries_contributing_to_pageviews:
    print(country)

Countries contributing to pageviews:
Saudi Arabia
United States
Ireland
United Kingdom
France
Guatemala
Jordan
Kuwait
Pakistan
Italy
Germany
Iraq
Peru
India
Nicaragua
Rwanda
Tanzania
United Arab Emirates
Norway
Oman
Bahamas
Algeria
Czechia
Mexico
Jamaica
Netherlands
Colombia
Morocco
Australia
Myanmar
Uzbekistan
Austria
Latvia
Turkey
Mauritania
Sri Lanka
Bosnia and Herzegovina
Estonia
Nigeria
Bulgaria
Greece
El Salvador
Philippines
Denmark
Serbia
Canada
Spain
Libya
Palestine
Chad
Ecuador
Mali
Romania
Switzerland
Portugal
Slovenia
Iceland
Sweden
Bahrain
Egypt
Lithuania
Liberia
Israel
Ukraine
Puerto Rico
South Africa
Ghana
Kenya
Armenia
Nepal
Barbados
Azerbaijan
Qatar
Uganda
Poland
Brazil
Guyana
Fiji
Bangladesh
Belgium
Hong Kong
Haiti
Botswana
Ivory Coast
Bhutan
Indonesia
Réunion
Cameroon
Singapore
Yemen
French Guiana
Slovakia
Dominican Republic
Russia
Cabo Verde
Kyrgyzstan
New Zealand
U.S. Virgin Islands
Albania
Venezuela
Burkina Faso
Montenegro
Paraguay
Bolivia
Cyprus
Mayotte
Thailand
Maldives
Tunisia
Namibia
Costa Rica
Croatia
Trinidad and Tobago
Senegal
Suriname
Malaysia
Honduras
DR Congo
South Korea
Finland
Mozambique
Hungary
Kazakhstan
Zambia
Somalia
Moldova
Cayman Islands
Saint Vincent and the Grenadines
Martinique
Guadeloupe
Kosovo
Sudan
Saint Lucia
Uruguay
nan
Mauritius
Aruba
Curaçao
British Virgin Islands
Vietnam
Laos
Sierra Leone
Seychelles
Guinea
Lebanon
Angola
Belize
Togo
Turks and Caicos Islands
Georgia
Gabon
Argentina
North Macedonia
Benin
Ethiopia
Niger
Zimbabwe
St Kitts and Nevis
Malawi
Chile
Madagascar
Panama
Luxembourg
Grenada
Greenland
Mongolia
Taiwan
Liechtenstein
Anguilla
Principality of Monaco
Djibouti
Samoa
Åland
Eswatini
Faroe Islands
Cambodia
China
French Polynesia
Papua New Guinea
Japan
Lesotho
Eritrea
Iran
Antigua and Barbuda
Burundi
Belarus
Guinea-Bissau
Bermuda
Gambia
Isle of Man
American Samoa
Tajikistan
Comoros
Jersey
Andorra
Brunei
Congo Republic
Syria
Dominica
New Caledonia
Marshall Islands
Macao
Gibraltar
Palau
Solomon Islands
Malta
Wallis and Futuna
Afghanistan
Central African Republic
Guernsey
Sint Maarten
Saint Martin

## Click-Through Rate (CTR) Analysis: ##

### **overall click-through rate (CTR) calculated as clicks/pageviews** ###

 CTR is calculated as:
CTR = Total Clicks/Total Pageviews *100

In [18]:
# Calculate total pageviews and clicks
total_pageviews = data[data['event'] == 'pageview'].shape[0]
total_clicks = data[data['event'] == 'click'].shape[0]

In [19]:
# Calculate overall CTR
overall_ctr = (total_clicks / total_pageviews) * 100
print(f"Overall CTR: {overall_ctr:.2f}%")

Overall CTR: 39.24%

### **Calculate CTR per link** ###

 Calculate the number of clicks and pageviews per link and then compute the CTR for each link.Group the data by 'linkid' and calculate the sum of clicks and pageviews per link.

In [20]:
ctr_per_link = data.groupby('linkid').apply(
    lambda x: pd.Series({
        'clicks': x[x['event'] == 'click'].shape[0],
        'pageviews': x[x['event'] == 'pageview'].shape[0]
    })
)

In [21]:
ctr_per_link

                                      clicks  pageviews
linkid
00073307-ae96-5089-a117-4783afb42f8e       0          2
00126b32-0c35-507b-981c-02c80d2aa8e7       2          2
0018cfff-50a1-5984-9715-01ef2d11a49a       0          1
0033934b-5d16-5a06-af58-d087bcdd3680       0          1
0034d6cf-3bd8-5ffe-aafc-b3959fc48608       0          1
...                                      ...        ...
fff38ca0-8043-50cd-a5f1-f65ebb7105c5       1          1
fff4e5f0-4ee5-5fe7-aa30-e870edaf6ed7       0          2
fff84c0e-90a1-59d8-9997-adc909d50e16       1          1
fffc17a7-f935-5d3e-bd3e-d761fd80d479       1          2
fffd0045-29de-522b-b5d8-35786363bf07       1          2

[3839 rows x 2 columns]

In [22]:
# Add a column for CTR
ctr_per_link['CTR'] = (ctr_per_link['clicks'] / ctr_per_link['pageviews']) * 100

In [23]:
ctr_per_link

                                      clicks  pageviews    CTR
linkid
00073307-ae96-5089-a117-4783afb42f8e       0          2    0.0
00126b32-0c35-507b-981c-02c80d2aa8e7       2          2  100.0
0018cfff-50a1-5984-9715-01ef2d11a49a       0          1    0.0
0033934b-5d16-5a06-af58-d087bcdd3680       0          1    0.0
0034d6cf-3bd8-5ffe-aafc-b3959fc48608       0          1    0.0
...                                      ...        ...    ...
fff38ca0-8043-50cd-a5f1-f65ebb7105c5       1          1  100.0
fff4e5f0-4ee5-5fe7-aa30-e870edaf6ed7       0          2    0.0
fff84c0e-90a1-59d8-9997-adc909d50e16       1          1  100.0
fffc17a7-f935-5d3e-bd3e-d761fd80d479       1          2   50.0
fffd0045-29de-522b-b5d8-35786363bf07       1          2   50.0

[3839 rows x 3 columns]

In [24]:
ctr_per_link = ctr_per_link.dropna()

In [25]:
# Output CTR per link
print("\nCTR per link:")
print(ctr_per_link[['clicks', 'pageviews', 'CTR']].sort_values(by='CTR', ascending=False))

CTR per link:
                                      clicks  pageviews     CTR
linkid
54166799-1895-4f35-9b2f-b249c2f7a351       1          0     inf
aee2b83d-5f50-4309-9e62-200c404d4751       1          0     inf
c95f1fc1-fab0-4c74-b3f5-52bd3684a713     923         10  9230.0
27a91fe1-9fc0-5c28-9e9e-19ff0e7357a7       3          1   300.0
330773a6-f22a-5c7a-a3e4-7809fe8539b9       3          1   300.0
...                                      ...        ...     ...
421fa177-b380-5f27-8e41-4b44375e946a       0          1     0.0
a087f66a-346d-561a-a459-c3cdab13940b       0          3     0.0
a05d8198-7043-5b88-b7f5-f0f6b73d07da       0          1     0.0
a04bbbfc-c800-5924-895d-be99bb734630       0          1     0.0
00073307-ae96-5089-a117-4783afb42f8e       0          2     0.0

[3839 rows x 3 columns]

# Correlation Analysis:

### **Linear Correlation:** ### 
This examines whether there's a continuous linear relationship between the number of previews and clicks. We can use Pearson’s correlation coefficient for this purpose.

### **Categorical (Binary) Relationship:** ###
This looks at whether the presence of previews (i.e., previews > 0) significantly affects whether a link receives clicks (i.e., clicks > 0). This can be tested using statistical methods such as a Chi-Square Test or Logistic Regression

### **Pearson Correlation:** ###

- If the correlation value is close to 1 or -1, it indicates a strong linear relationship between the number of previews and clicks. A value close to 0 suggests no linear relationship.

- The p-value tells us whether the correlation is statistically significant (commonly, p < 0.05 indicates significance).

### **Chi-Square Test:** ###

A significant p-value (p < 0.05) from the Chi-Square test would suggest that the presence of previews is associated with the likelihood of receiving clicks.

We convert the data into binary categories (i.e., whether a link has any clicks or previews). A Chi-Square test is performed on a contingency table that shows the counts of links with and without previews and clicks. The result gives us a Chi-Square value and a p-value to indicate whether there is a significant association between clicks and previews.

In [26]:
from scipy.stats import pearsonr, chi2_contingency

In [27]:
# Count clicks and previews per link
link_stats = data.groupby('linkid')['event'].value_counts().unstack(fill_value=0)

In [28]:
link_stats

event                                 click  pageview  preview
linkid
00073307-ae96-5089-a117-4783afb42f8e      0         2        0
00126b32-0c35-507b-981c-02c80d2aa8e7      2         2        0
0018cfff-50a1-5984-9715-01ef2d11a49a      0         1        0
0033934b-5d16-5a06-af58-d087bcdd3680      0         1        0
0034d6cf-3bd8-5ffe-aafc-b3959fc48608      0         1        0
...                                     ...       ...      ...
fff38ca0-8043-50cd-a5f1-f65ebb7105c5      1         1        0
fff4e5f0-4ee5-5fe7-aa30-e870edaf6ed7      0         2        0
fff84c0e-90a1-59d8-9997-adc909d50e16      1         1        0
fffc17a7-f935-5d3e-bd3e-d761fd80d479      1         2        0
fffd0045-29de-522b-b5d8-35786363bf07      1         2        0

[3839 rows x 3 columns]

In [29]:
# Ensure 'click' and 'preview' columns exist
if 'click' not in link_stats.columns:
    link_stats['click'] = 0
if 'preview' not in link_stats.columns:
    link_stats['preview'] = 0

In [30]:
# 1. Pearson Correlation (Linear Correlation between clicks and previews)
correlation, p_value = pearsonr(link_stats['click'], link_stats['preview'])
print(f"Pearson Correlation: {correlation:.4f}, P-value: {p_value:.4f}")

Pearson Correlation: 0.9887, P-value: 0.0000

In [31]:
# 2. Chi-Square Test (Binary relationship)
link_stats['click_binary'] = (link_stats['click'] > 0).astype(int)
link_stats['preview_binary'] = (link_stats['preview'] > 0).astype(int)

In [32]:
# Create contingency table for Chi-Square test
contingency_table = pd.crosstab(link_stats['click_binary'], link_stats['preview_binary'])

# Chi-Square Test
chi2, p, _, _ = chi2_contingency(contingency_table)
print(f"Chi-Square Test: Chi2 = {chi2:.4f}, P-value = {p:.4f}")

Chi-Square Test: Chi2 = 285.5423, P-value = 0.0000